<html>

  <head>
    <meta charset='utf-8' />
    <title></title>
    <style>
      .card { height: auto; position: relative; padding: 10px; box-sizing:
      border-box; display: flex; align-items: flex-end; text-decoration: none;
      border: 2px solid black; margin-bottom: 20px; } .inner { height: 50%;
      display: flex; flex-direction: column; justify-content: center; /*
      align-items: center; */ background: white; box-sizing: border-box;
      padding: 40px; }
    </style>
  </head>

  <body>
    <div class='card'>
      <div class='inner'>
        <p>Hello, <b>{{verify.name}}</b></p>
        <p>Hello From Moharkar hardcore Developer!!👿 JS Community Only!</p>
        <p>{{verify.link}}</p>
      </div>
    </div>
  </body>

</html>